body { background-image: url(Untitled\ design\ \(12\).png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;


}